@page "/projects"
@using pva.SuperV.Blazor.SuperVClient
@attribute [StreamRendering]
@inject RestClient restClient

<PageTitle>Projects</PageTitle>

<h1>Projects</h1>


@if (projects == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="header" width="100%">
		<tbody>
			<tr>
				<td align="right">
					<button class="btn btn-primary" @onclick="IncrementCount">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
							<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
						</svg>
						<span>Create project</span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="projects-table">
		<thead>
			<tr>
				<th>Project Name</th>
				<th aria-label="Project Description">Description</th>
				<th aria-label="Runnable">Runnable</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var project in projects)
			{
				<tr>
					<td>@project.Name</td>
					<td>@project.Description</td>
					<td align="center">
						@if (project.Runnable)
						{
							<a></a>
						}
						else
						{
							<img src="images/WIP.png" width="25" height="25" />
						}
					</td>
				</tr>
			}
		</tbody>
	</table>

	@code {
	private int currentCount = 0;

	private ICollection<ProjectModel>? projects;

	protected override async Task OnInitializedAsync()
	{
		//projects = await restClient.GetProjectsAsync();
		projects =
			[
			new ProjectModel() { Name = "RP", Description = "Runnable project", Runnable = true },
			new ProjectModel() { Name = "WIP", Description = "WIP project", Runnable = false }
		];
	}

	private void IncrementCount()
	{
		currentCount++;
	}
}

}
